<div class="popup">
        <form action="/quotes/edit/{{quote.id}}/submit" method="POST" data-catid="{{quote.id}}" class="editform">
            {% csrf_token %}
            <h3>Edit Quote</h3>
            <p>Quoted By: <input type="text" name="quotedBy" value="{{quote.quotedBy}}"></p>
            <p>Message: <input type="text" name="message" value="{{quote.message}}"></p>
            <input type="submit">
        </form> 
        <input type="submit" class="Close" data-catid="{{quote.id}}" value="Close"> 
    </div>