{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="m-3 p-2 quotes">
    <h2>Quotable Quotes</h2>
    {% for quote in quotes %}
    <div class="mt-4">
        {% if quote.addedBy.email == request.session.user.email %}
        <p><a href="" class="edit text-reset" data-catid="{{quote.id}}">Edit</a> | <a href="/quotes/delete/{{quote.id}}"  data-catid="{{quote.id}}" class="delete text-reset">Delete</a></p>
        <div class="edit{{quote.id}}"></div>
        {% endif %}
        <p>"{{quote.message}}" - {{quote.quotedBy}}</p>
        <p>Added By: <a href="/users/{{quote.addedBy.id}}" class="text-reset user" data-catid="{{quote.addedBy.id}}">{{quote.addedBy.name}}</a></p>
        <form action="/quotes/addfavorite/{{quote.id}}" method="POST" class="addFavorite" data-catid="{{quote.id}}">
            {% csrf_token %}
            <input type="submit" value="Add To Favorites">
        </form>
    </div>
    {% endfor %}
</div>