<!DOCTYPE html>
<html>
    <head>
        <title>Quotes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <h1 class="m-3 p-2">Welcome, {{ request.session.user.name }}!</h1>
        <a href="/logout" class="m-3 p-2">Log Out</a>
        <div>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="d-flex flex-row">
            <div class="m-3 p-2 border border-dark black">
                <h2>Quotable Quotes</h2>
                {% for quote in quotes %}
                <div>
                    {% if quote.addedBy.email == request.session.user.email %}
                    <p><a href="/quotes/edit/{{quote.id}}">Edit</a> | <a href="/quotes/delete/{{quote.id}}">Delete</a></p>
                    {% endif %}
                    <p>{{quote.quotedBy}}: {{quote.message}}</p>
                    <p>Added By: <a href="/users/{{quote.addedBy.id}}">{{quote.addedBy.name}}</a></p>
                    <form action="/quotes/addfavorite/{{quote.id}}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="addFavorite" value="Add To Favorites">
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="m-3 p-2 border border-dark black">
                <h2>Your Favorites</h2>
                {% for quote in currentuser.favorites.all %}
                <div>
                    {% if quote.addedBy.email == request.session.user.email %}
                    <p><a href="/quotes/edit/{{quote.id}}">Edit</a> | <a href="/quotes/delete/{{quote.id}}">Delete</a></p>
                    {% endif %}
                    <p>{{quote.quotedBy}}: {{quote.message}}</p>
                    <p>Added By: <a href="/users/{{quote.addedBy.id}}">{{quote.addedBy.name}}</a></p>
                    <form action="/quotes/removefavorite/{{quote.id}}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="removeFavorite" value="Remove From Favorites">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-inline-block m-3 p-2 border border-dark black">
            <form  action="quotes/create" method="POST">
                {% csrf_token %}
                <h3>Add Quote</h3>
                <p>Quoted By: <input type="text" name="quotedBy"></p>
                <p>Message: <textarea name="message" cols="30" rows="10"></textarea></p>
                <input type="submit">
            </form>
        </div>
    </body>
</html>