<!DOCTYPE html>
<html>
    <head>
        <title>Quotes by {{user.name}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <h3 class="m-3 p-2">Welcome, {{ request.session.user.name }}!</h1>
        <a href="/logout" class="m-3 p-2">Log Out</a>
        <a href="/quotes" class="m-3 p-2">Back to Quotes</a>
        <div class="d-inlineblock m-3 p-2 border border-dark black">
            <p>Posts by {{ user.name }}</p>
            <p>Count: {{ count }}</p>
            <div>
            {% for quote in user.addedQuotes.all %}
                <p>{{quote.quotedBy}}: {{quote.message}}</p>
            {% endfor %}
            </div>
        </div>
    </body>
</html>